@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:letter"]{
	margin: 1em;
}

[epub|type~="z3998:letter"] p{
	text-indent: 1em;
}

[epub|type~="z3998:valediction"]{
	text-indent: 2em;
}

abbr.name{
	white-space: nowrap;
}

b{
	font-weight: normal;
	font-variant: small-caps;
}

.signature{
	font-variant: small-caps;
	text-align: right;
}
