@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

section[epub|type~="subchapter"]{
	margin-top: 3em;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

[epub|type~="z3998:verse"] p,
[epub|type~="z3998:song"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span,
[epub|type~="z3998:song"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:verse"] p > span + br,
[epub|type~="z3998:song"] p > span + br{
	display: none;
}

[epub|type~="z3998:song"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:recipient"]{
	font-style: italic;
}

[epub|type~="z3998:recipient"] p:nth-child(2),
[epub|type~="z3998:recipient"] p:nth-child(5){
	text-indent: 5em;
}

[epub|type~="z3998:recipient"] p:nth-child(3){
	text-indent: 7em;
}

[epub|type~="z3998:recipient"] p:nth-child(4){
	text-indent: 3em;
}

[epub|type~="z3998:salutation"]{
	font-weight: normal;
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"] header{
	text-align: center;
	font-variant: small-caps;
}

abbr.era{
	font-variant: all-small-caps;
}

abbr.name{
	white-space: nowrap;
}

b{
	font-weight: normal;
	font-variant: small-caps;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

footer{
	text-align: right;
	margin-top: 1em;
}

.headline{
	text-align: center;
}

.inscription{
	font-variant: small-caps;
	text-align: center;
}

.signature{
	font-variant: small-caps;
}
